/* === Variáveis Globais de Cores === */
:root {
  --background-color: #3c4855;
  --background-button: #1b456e;
  --background-button-hover: rgb(1, 47, 65);
  --white: #ffffff;
  --black: #000000;
  --footer-background: #2c3e50;
  --background-gradient: linear-gradient(
    90deg,
    rgb(6, 73, 95) 0%,
    rgb(3, 27, 36) 73%
  );
  --background-time: rgb(3, 62, 85);
}

/* === Reset e Estilos de Base === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth;
}

p {
  text-align: justify;
  color: #bdc3c7;
  line-height: 1.7;
}

/* === Layout Principal === */
main {
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  padding: 12px;
}

#titulo-principal {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  color: var(--background-color);
  text-align: center;
  margin: 20px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--background-button);
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* === Componentes de Notícia === */
.container-article {
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.article-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.container-theme,
.container-time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 32px;
  min-width: 120px;
  border-radius: 9px;
  background-color: var(--background-time);
  flex-shrink: 0;
}

.container-theme p,
.container-time p {
  color: var(--white);
  font-size: 15px;
}

.container-article:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  border-color: var(--background-button);
}

.container-article .titulo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 16px;
  color: var(--white);
  font-size: 40px;
  cursor: pointer;
  text-align: justify;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.container-header p {
  font-size: 15px;
  color: var(--white);
}

/* === Estilo do Rodapé === */
footer {
  margin-top: auto;
  width: 100%;
  padding: 22px 0;
}

.footer-content {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content p {
  margin: 5px 0;
  color: var(--white);
}

.social-links {
  display: flex;
  margin-top: 10px;
}

.social-links a {
  color: var(--white);
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}

.social-links a:hover {
  color: var(--background-button);
  transform: scale(1.2);
}

/* Dark mode support*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --black: #121212;
  }

  body {
    background-color: var(--background-color);
  }

  #titulo-principal {
    color: var(--background-time);
    border-bottom-color: var(--background-time);
  }

  .footer-content p,
  .social-links a {
    color: #bdc3c7;
  }

  .social-links a:hover {
    color: var(--background-time);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #0b5e75;
  }

  body {
    background: #e4e2e2;
  }

  .container-article {
    background: var(--background-color);
  }

  #titulo-principal {
    color: var(--background-time);
    border-bottom-color: var(--background-time);
  }

  .footer-content p,
  .social-links a {
    color: var(--footer-background);
  }

  .social-links a:hover {
    color: var(--background-time);
  }
}
